        <div class="chat-panel panel panel-default chat-boder chat-panel-head">
            <div class="panel-heading">
                <i class="fa fa-comments fa-fw"></i>
                异常提醒
            </div>
            <div class="panel-body">
                <ul class="chat-box">
                    <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="img/3.png" alt="User" class="img-circle"/>
                                    </span>
                        <div class="chat-body">
                            <strong>陈师傅</strong>
                            <small class="pull-right text-muted">
                                <i class="fa fa-clock-o fa-fw"></i>12 mins ago
                            </small>
                            <p>
                                申请语音通话.
                                <button class="btn btn-success btn-sm">接受</button>
                                <button class="btn btn-danger btn-sm">拒绝</button>
                            </p>
                        </div>
                    </li>
                    <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="img/1.png" alt="User" class="img-circle"/>
                                    </span>

                        <div class="chat-body">
                            <strong>陈师傅</strong>
                            <small class="pull-right text-muted">
                                <i class="fa fa-clock-o fa-fw"></i>12 mins ago
                            </small>
                            <p>
                                申请语音通话（已取消）.
                            </p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
