<div class="post-container">
  <div class="row">
    <div class="vote-span unvoted">
      <div class="arrow up" data-event-action="upvote">
      </div>
      <!--<div class="score dislikes">40</div>-->
      <div class="score unvoted ng-binding"></div>
      <!--<div class="score likes">42</div>-->
      <div class="arrow down" data-event-action="downvote">
      </div>
    </div>
    <a class="item-thumbnail" href="#/userInfo/{{post.client.id}}">
      <img src="/showImage?id={{post.client.imageId}}" style="border-radius: 150px;" width="54" height="54" alt="">
    </a>

    <div class="entry" style="padding:0 0 0 15px;max-width: 60em">
      <h3>{{post.title}}</h3>

      <p class="author-line">Submitted
        by
        <a href="#/userInfo/{{post.client.id}}"
           class="author"><span> {{post.client.nickName}}</span></a>
        • {{post.createTime}}
      </p>
      <hr style="margin-top:0">
      <div ng-bind-html="toTrusted(post.content)"></div>
      <ul class="post-actions" style="font-size: 12px;padding:10px 0 15px 0;">
        <li>
          <i class="fa fa-comments"></i>
          <a class="comments">{{post.replyAmount}} comments</a>
        </li>
        <li>
          <a ng-click="showJiathis(post)">share</a>
        </li>
        <li>
          <a>report</a>
        </li>
        <li>
          <a ng-click="addLinkToPocket(post)">pocket</a>
        </li>
      </ul>
      <!-- JiaThis Button BEGIN -->
      <div id="jiathis" class="jiathis_style_24x24" style="display:none">
        <a class="jiathis_button_qzone"></a>
        <a class="jiathis_button_tsina"></a>
        <a class="jiathis_button_tqq"></a>
        <a class="jiathis_button_weixin"></a>
        <a class="jiathis_button_renren"></a>
        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
        <a class="jiathis_counter_style"></a>
      </div>
      <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
      <!-- JiaThis Button END -->
    </div>
  </div>
  <hr>

  <div class="row reply-box">
    <h3 style="margin-bottom: 20px">Comments:</h3>
    <!--<hr>-->
    <div class="bottom-line-dotted" ng-repeat="reply in post.replyList">
      <div class="vote-span unvoted">
        <div class="arrow up" data-event-action="upvote">
        </div>
        <!--<div class="score dislikes">40</div>-->
        <div class="score unvoted ng-binding"></div>
        <!--<div class="score likes">42</div>-->
        <div class="arrow down" data-event-action="downvote">
        </div>
      </div>
      <a class="item-thumbnail" href="#/userInfo/{{reply.client.id}}">
        <img src="/showImage?id={{reply.client.imageId}}" style="border-radius: 150px;" width="54" height="54" alt="">
      </a>

      <div class="entry">
        <p class="author-line">Submitted
          <!--by&nbsp;&nbsp;<img src="/images/android_icon.png" style="border-radius: 4px;" width="20" height="20" alt="">-->
          by <a href="#/userInfo/{{reply.client.id}}" class="author">
            <span>{{reply.client.nickName}}</span>
          </a>
        </p>
        <div ng-bind-html="toTrusted(reply.content)"></div>
        <ul class="post-actions">
          <li>
            <i class="fa fa-comments"></i>
            <a ng-click="showComments(reply)">reply</a>
          </li>
          <li>
            <a>report</a>
          </li>
          <li>
            <span style="color:#b3b3b3">{{reply.createTime}}</span>
          </li>
        </ul>
        <div id="comment{{reply.id}}" style="display:none;">
          <div class="comment-box">
            <form ng-submit="submitComment(reply)" class="clearfix">
              <textarea id="textarea{{reply.id}}" class="form-control" rows="2" required></textarea>
              <button style="margin-top:15px; float: right;" type="submit" class="btn btn-primary btn-sm">Submit
              </button>
            </form>
            <div class="comment-list">

            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-top:20px;">
      <form ng-submit="submitReply()">
        <textarea class="form-control" style="height:300px;" id="reply"></textarea>
        <button style="margin-top:15px" type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>