<div class="post-container">
    <div class="link" ng-repeat="post in postList" ng-class-odd="'strip-even'" ng-class-even="'strip-odd'">
        <div class="vote-span unvoted">
            <div class="arrow up" data-event-action="upvote">
            </div>
            <!--<div class="score dislikes">40</div>-->
            <div class="score unvoted">{{post.data.ups}}</div>
            <!--<div class="score likes">42</div>-->
            <div class="arrow down" data-event-action="downvote">
            </div>
        </div>
        <a class="item-thumbnail" href="">
            <img src="/images/android_icon.png" width="70" height="70" alt="">
        </a>

        <div class="entry">
            <p class="title">
                <a class="" href="">
                    {{post.data.title}}
                </a>
            <span class="topic-domain">
                (<a href="">self.Android</a>)
            </span>
            </p>
            <!--<div class="expando-button collapsed selftext"></div>-->
            <p class="author-line">Submitted
                <time title="Mon Dec 7 06:48:03 2015 UTC" datetime="2015-12-07T06:48:03+00:00" class="live-timestamp">
                    an hour ago
                </time>
                by
                <a href="https://www.reddit.com/user/shmerham"
                   class="author may-blank id-t2_r5ti5">{{post.data.author}}</a>
            </p>
            <ul class="post-actions">
                <li>
                    <a href="https://www.reddit.com/r/Android/comments/3vrg87/is_this_a_material_design_thing/"
                       class="comments may-blank">6 comments</a></li>
                <li>
                    <a class="post-sharing-button" href="javascript: void 0;">share</a>
                </li>
                <li>
                    <a href="#">save</a>
                </li>
                <li>
                    <form action="/post/hide" method="post">
                        <input type="hidden" name="executed" value="hidden">
                        <span><a href="javascript:void(0)" class=" " onclick="change_state(this, 'hide', hide_thing);">hide</a></span>
                    </form>
                </li>
                <li>
                    <a href="javascript:void(0)" class="action-thing reportbtn access-required"
                       data-event-action="report">report</a>
                </li>
                <li>
                    <a href="#">pocket</a>
                </li>
            </ul>
            <!--<div class="reportform report-t3_3vrg87"></div>-->
            <!--<div class="expando" style="display: none">-->
            <!--<span class="error">loading...</span>-->
            <!--</div>-->
        </div>
    </div>
</div>