<div style="height:200px; width:100%; z-index: 1000;">
    {{template}}
</div>
<div class="post-container">
    <div class="link" ng-repeat="post in postList">
        <div class="vote-span unvoted">
            <div class="arrow up" data-event-action="upvote">
            </div>
            <!--<div class="score dislikes">40</div>-->
            <div class="score unvoted">{{post.ups}}</div>
            <!--<div class="score likes">42</div>-->
            <div class="arrow down" data-event-action="downvote">
            </div>
        </div>
        <a class="item-thumbnail" href="">
            <img src="/images/android_icon.png" width="70" height="70" alt="">
        </a>

        <div class="entry bottom-line">
            <p class="title">
                <a class="" href="/#/edit/{{post.id}}">
                    {{post.title}}
                </a>
            <span class="topic-domain">
                (<a href="">self.Android</a>)
            </span>
            </p>
            <!--<div class="expando-button collapsed selftext"></div>-->
            <p class="author-line">Submitted
                by
                <a class="author">{{post.author}}</a>
            </p>
            <ul class="post-actions">
                <li>
                    <a class="comments may-blank">{{post.replyAmount}} comments</a></li>
                <li>
                    <a href="#">share</a>
                </li>
                <li>
                    <a href="#">save</a>
                </li>
                <li>
                    <a href="#">report</a>
                </li>
                <li>
                    <a href="#">pocket</a>
                </li>
            </ul>
        </div>
    </div>
</div>