<div class="panel-heading">
    <h3 style="font-style: normal; margin-bottom: 25px"><i class="fa fa-dashboard"
                                                           style="color: #70a43f; padding-bottom: -1px; padding-right: 15px"/>任务管理
    </h3>

    <div class="alert alert-success" ng-show="responseCode.code=='200'">
        <i class="icon-ok-sign"></i>
        {{responseCode.message}}
    </div>
    <div class="alert alert-warning" ng-show="responseCode.code!=undefined&&responseCode.code!='200'">
        <i class="icon-remove-sign"></i>
        {{responseCode.message}}
    </div>
    <div class="row">
        <div class="col-lg-6">
            <a href="#/newTask" class="btn btn-default "><span class="fa fa-plus"></span>
                新建方案</a>
            <button ng-click="edit()" class="btn btn-default "
                    ng-class="object.id==undefined||object.state==0||object.state==10?'disabled':''"><span
                    class="fa fa-edit"></span>
                编辑
            </button>
            <button ng-click="delete()" class="btn btn-default "
                    ng-class="object.id==undefined||object.state==2||object.state==10||object.state==0?'disabled':''"><span
                    class="fa fa-trash-o"></span>
                删除
            </button>
            <button ng-click="execute()" class="btn btn-default"
                    ng-show="object.state!=2&&object.state!=10" ng-class="object.id==undefined||object.state==0?'disabled':''"><span
                    class="fa fa-play"></span>
                执行
            </button>
            <button ng-click="stop()" class="btn btn-default " ng-show="object.state==2||object.state==10"
                    ng-class="object.id==undefined||object.state==10?'disabled':''"><span
                    class="fa fa-stop"></span>
                停止
            </button>
            <button ng-click="copy()" class="btn btn-default " ng-class="object.id==undefined||object.state==0||object.state==10?'disabled':''">
                <span class="fa fa-copy"></span>
                复制
            </button>
        </div>
        <div class="col-lg-6 ">
            <div class="pull-right">
                <!--<button ng-click="pause()" class="btn btn-default" ng-class="object.state!=2?'disabled':''"><span-->
                <!--class="fa fa-pause "></span>-->
                <!--暂停-->
                <!--</button>-->
                <!--<button ng-click="continue()" class="btn btn-default" ng-class="object.state!=3?'disabled':''"><span-->
                <!--class="fa fa-play"></span>-->
                <!--继续-->
                <!--</button>-->

                <button ng-click="log()" class="btn btn-default " ng-class="object.id==undefined?'disabled':''"><span
                        class="fa fa-list"></span>
                    日志
                </button>
                <!--<a href="#/taskPlan" class="btn btn-default "><span class="fa fa-calendar"></span> 计划执行</a>-->
            </div>
        </div>
    </div>
</div>
</div>
<div class="panel-body">
    <div ui-grid="gridOptions" ui-grid-selection ui-grid-edit class="grid" style="height: 580px;"></div>
</div>