@charset "utf-8";

/*==============================================
    GENERAL  STYLES
    =============================================*/
html * {
    -webkit-font-smoothing: antialiased;
}
body {
    background-color:#eee;
    color:#333;
    font: normal 14px verdana, arial, helvetica, sans-serif;
    min-height: 2600px;
}
body, html {
    width:100%;
    height: 100%;
}

.col-md-9, .col-md-10{
    padding: 0;
}

p{
    line-height: 1.5em;
}

h3{
    margin-top:10px;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0;
    padding:0;
}

a {
    color: #525252;
    text-decoration: none;
    cursor:pointer;
}

a:hover{
    color:#1976D2;
    text-decoration: none;
}
a:visited, a:focus{
    text-decoration: none;
}
button{
    outline:none;
}
.btn:focus,.btn:active {
    outline: none !important;
}
img {
    border:0;
}

ul, li {
    list-style:none;
}

a {
    text-decoration:none;
}

input, select {
    vertical-align:middle;
}

ul{
    margin: 0;
}

.clear{
    clear:both;
    visibility:hidden;
    display:block;
    height:0;
    font-size:0;
}
textarea:focus, input:focus{
    outline: 0;
}
input[type="radio"], input[type="checkbox"] {
    margin: 0;
}
label{
    font-weight: 600;
}
/* GENERAL STYLES END */