@import "navbar";

/*GENERAL STYLES*/
.theme-default {
  .panel, .table, hr{
    border-color: #E2E2E2;
  }
}
.panel-heading {
  background: #fafafa;
  border-bottom: 2px solid #ececec;
  padding: 11px 20px 9px;
  position: relative;
}
.panel-footer {
  background: #fff;
  border-top: 1px solid #ececec;
}
.spacer{
  width:100%;
  margin-bottom: 1rem;
}
.item-thumbnail{
  display: inline-block;
  float: left;
  padding: 10px;
}

/*#########################################
  ################CONTAINER################
  #########################################*/

.main-container{
  margin: 16px 30px;
}
.box{
  background-color: white;
  box-shadow: 0 1px 5px rgba(0,0,0,0.16);
}
.post-container{
  @extend .box;
  float: left;
  width:83%;
}
.right-panel{
  float:right;
  width: 16%;
}
.tieba-info{
  @extend .box;
  padding: 16px 30px;
}
.link{
  .vote-span{
    height: 60px;
    width: 36px!important;
    margin: 15px 14px 0 11px;
    overflow: hidden;
    font-weight: bold;
    font-size: small;
    display:block;
    float: left;
  }
  .score {
    text-align: center;
    color: #c6c6c6;
    line-height: 16px;
    font-weight: bold;
    margin: 1px 0;
  }
  .entry{
    padding: 15px 32px 14px 0;
    border-bottom: 1px solid #f2f2f2;
    display: block;
    overflow: hidden;
    .title {
      margin: -2px 0 0;
      font-size: 18px;
      font-family: arial,sans-serif;
      overflow: hidden;
      //transition: all .15s ease;
      line-height: 1.33;
    }
    .topic-domain {
      visibility:hidden;
      color: #888;
      font-size: x-small;
      white-space: nowrap;
      a{
        position: relative;
        top: -1px;
        color: #b3b3b3;
        visibility:visible;
      }
    }
    .author-line {
      margin-top: 4px;
      color: #b3b3b3;
      
      font-family: arial,sans-serif;
      //transition: all .15s ease;
    }
  }
}
.post-actions {
  margin-top: 3px;
  display: block;
  list-style-type: none;
  li+li{
    padding-left: 4px;
  }
  li{
    display: inline-block;
    padding-right: 4px;
    a{
      color: #b3b3b3;
    }
    a.comments {
      color:#1976D2;
      font-weight: 700!important;
    }
  }
}
.arrow {
  margin: 0 0 0 2px;
  background-image: url("/images/icons.png")!important;
  background-color: transparent;
  width: 33px;
  border-radius: 2px;
  display: block;
  cursor: pointer;
  outline: none;
  //transition: background-color .25s ease;
}
.arrow.up {
  height: 20px;
  background-position: -64px 0;
  //transition: background-color .25s ease;
}
.arrow.down {
  height: 20px;
  background-position: -160px 0;
  //transition: background-color .25s ease;
}

/*#########POST EDITING BAR############*/
.red-tag-box{
  box-shadow: 0 1px 5px rgba(0,0,0,0.24);
  background-color: #ff8832;
  border-radius: 2px;
  transition: all .25s ease;
  &:hover {
    background-color: darken(#ff8832,12%);
    box-shadow: 0 4px 7px rgba(0,0,0,0.24);
  }
}
.morelink {
  @extend .red-tag-box;
  background-image: url("/images/icons.png")!important;
  background-position: 200px -214px!important;
  background-repeat: no-repeat!important;
  width: 100%;
  height: 36px;
  line-height: 36px;
  text-align: left;
  padding: 0 16px;
  font-family: verdana,arial,sans-serif;
  a{
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/*###########SEARCH BAR########*/
#search {
  white-space: nowrap;
  height: 36px;
  width: 100%;
}

#search input[type=text] {
  height:100%;
  width: 100%;
  font-size: 13px;
  border: 0 solid #808080;
  margin-right:-4px;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 10px 25px 10px 16px;
  vertical-align: middle;
  box-shadow: 0 1px 5px rgba(0,0,0,0.24)!important;
  /*&:focus{
    box-shadow: 0 4px 7px rgba(0,0,0,0.24)!important;
  }*/
}

#search input[type=submit] {
  display: inline-block;
  height: 32px;
  width: 32px;
  margin-left: -38px;
  padding: 2px 6px 3px;
  background:{
    color:transparent;
    image: url("/images/icons.png");
    position: -215px -231px;
    repeat: no-repeat;
  }
  border: none!important;
  border-radius: 16px;
  color: rgba(0,0,0,0.00);
  transition: background-color .15s ease;
  vertical-align: middle;
  &:hover {
    background:{
      color: #f1f1f1;
    }
  }
}
/*#####SEARCH BAR END#####*/
.subscribers{
  color: #999;
  font-size: 14px;
  margin-bottom: 1em;
}
/*#####LOGIN FORM#########*/
.login-form{
  overflow: hidden;
  input[name=user],input[name=password]{
    box-shadow: none!important;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    color: #707070;
    transition: all .15s ease!important;
    width:100%;
    font-size: 11px;
    padding: 6px;
    margin-bottom: 5px;
  }
  input[name=password]{
    float: right;
  }
  #remember-me{
    line-height: 24px;
  }
  .submit{
    button{
      @extend .red-tag-box;
      box-shadow: 0 1px 3px silver;
      font-size: 12px;
      text-transform: uppercase;
      color: #fff!important;
      line-height: 26px;
      padding: 2px 18px;
    }
  }
}
/*########LOGINFORM END########*/
