<!--ng-grid-->
<div class="panel-heading">
    <h3 style="font-style: normal; margin-bottom: 25px"><i class="fa fa-edit"
                                                           style="color: #70a43f; padding-bottom: -1px; padding-right: 15px"/>基础信息管理
        / 收集对象管理</h3>
    <button ng-click="add()" class="btn btn-default "><span class="fa fa-plus"></span> 新建</button>
    <button ng-click="edit()" class="btn btn-default " ng-class="object.id==undefined?'disabled':''"><span
            class="fa fa-edit"></span> 编辑
    </button>
    <button ng-click="show()" class="btn btn-default " ng-class="object.id==undefined?'disabled':''"><span
            class="fa fa-picture-o"></span> 图片
    </button>
    <button ng-click="delete()" class="btn btn-default " ng-class="object.id==undefined?'disabled':''"><span
            class="fa fa-trash-o"> 删除</span>
    </button>
    <div class="btn-group pull-right" role="group">
        <a href="#contentList" data-toggle="tab" class="btn btn-default" target="_self">列表</a>
        <a id="showMap" href="#contentMap" data-toggle="tab" class="btn btn-default" target="_self">地图</a>
    </div>
</div>
<div class="panel-body">
    <div class="tab-content">
        <div id="contentList" class="tab-pane active">
            <div id="grid" ui-grid="gridOptions" ui-grid-selection ui-grid-pagination class="grid"
                 style="height: 600px;"></div>
        </div>
        <div id="contentMap" class="tab-pane">
            <div id="map" style="height: 600px;"></div>
        </div>
    </div>
</div>
<div id="edit" class="modal fade myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">编辑</h4><a class="modal-title">(注：带*的项目为必填项)</a>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" ng-show="responseCode.code=='200'">
                    <i class="fa fa-check-circle"></i>
                    {{responseCode.message}}
                </div>
                <div class="alert alert-warning" ng-show="responseCode.code!=undefined&&responseCode.code!='200'">
                    <i class="fa fa-exclamation-circle"></i>
                    {{responseCode.message}}
                </div>
                <form ng-submit="save()" id="form">
                    <input type="text" ng-model="object.id" style="display: none">
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>餐厅名称 *</label>

                                    <div class="controls">
                                        <input type="text" placeholder="" ng-model="object.name" required
                                               class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>餐厅编码 *</label>

                                    <div class="controls">
                                        <input type="text" placeholder="" ng-model="object.cno"
                                               class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <div class="controls">
                                    <label>是否起点 *&nbsp;&nbsp;</label>
                                    <input type="radio" value="0" ng-model="object.is_origin" checked/>
                                    否
                                    <input type="radio" value="1" ng-model="object.is_origin"/>
                                    是
                                </div>
                            </div>
                            <!--<div class="form-group col-lg-6">-->
                            <!--<label>周期性选择</label>-->
                            <!--<div class="controls">-->
                            <!--<input type="radio" value="1" ng-model="object.type" checked="checked"/>-->
                            <!--周期性-->
                            <!--<input type="radio" value="0" ng-model="object.type"/>-->
                            <!--间歇性-->
                            <!--</div>-->
                            <!--</div>-->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>联系人 *</label>

                                    <div class="controls">
                                        <input type="text" placeholder="" ng-model="object.contact"
                                               class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>联系电话 *</label>

                                    <!--<div class="controls">-->
                                        <!--<input type="text"  ng-model="object.telephone"-->
                                               <!--pattern="\d{3,4}-\d{7,8}" placeholder="000-00000000"-->
                                               <!--class="form-control"/>-->
                                    <!--</div>-->
                                    <div class="controls">
                                        <input type="text"  ng-model="object.telephone"
                                               class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>地址 *</label>

                                    <div class="controls">
                                        <input type="text" placeholder="" ng-model="object.address" required
                                               class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>餐位数</label>

                                    <div class="controls">
                                        <input type="text" placeholder="" ng-model="object.table_figure"
                                               class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>地居委会</label>

                                    <div class="controls">
                                        <input type="text" placeholder="" ng-model="object.committee"
                                               class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>许可证编号</label>

                                    <div class="controls">
                                        <input type="text" placeholder="" ng-model="object.license_no"
                                               class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <label>有效日期</label>
                                <div class="controls">
                                    <div class="input-prepend input-group">
                                <span class="add-on input-group-addon">
                                    <i class="glyphicon glyphicon-calendar fa fa-calendar"/>
                                </span>
                                        <input type="text" name="effect_date"
                                               class="form-control" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>所属省 *</label>
                                    <select class="form-control" ng-model="object.province"
                                            ng-options="i.cid as i.name for i in province" required>
                                        <option value="">-请选择省-</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>所属市 *</label>
                                    <select class="form-control" ng-model="object.city"
                                            ng-options="i.cid as i.name for i in city" required>
                                        <option value="">-请选择市-</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>所属区 *</label>
                                    <select class="form-control" ng-model="object.area"
                                            ng-options="i.cid as i.name for i in area" required>
                                        <option value="">-请选择区-</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>所属街道 *</label>
                                    <select class="form-control" ng-model="object.street"
                                            ng-options="i.cid as i.name for i in street">
                                        <option value="">-请选择街道-</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <div class="controls">
                                <button type="submit" class="btn btn-success">保存</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="image" class="modal fade myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">图片</h4>
            </div>
            <div class="modal-body">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="{{$index}}"
                            ng-class="{active:!$index}"
                            ng-repeat="item in images"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item" ng-class="{active:!$index}" ng-repeat="item in images">
                            <img src={{host}}{{item.url}} alt="暂无图片" onerror="this.src='img/notfind.png'"
                                 style="al: center;min-height: 400px;min-width: 400px"/>
                            <!--<img src="img/notfind.png" alt="暂无图片" onerror="this.src='img/notfind.png'" style="al: center;min-height: 400px;min-width: 400px"/>-->
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" data-target="#carousel-example-generic" role="button"
                       data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" data-target="#carousel-example-generic" role="button"
                       data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>