<div class="col-lg-12">
    <h3 style="font-style: normal; margin-bottom: 25px">
        <i class="fa fa-edit"
           style="color: #70a43f; padding-bottom: -1px; padding-right: 15px"/>基础信息管理
        / 权限管理</h3>

    <div class="form-group">
        <button data-toggle="modal"
                data-target=".myModal" class="btn btn-default" ng-click="addNew(null,0)"><i class="fa fa-plus"></i> 新建
        </button>
    </div>
    <!--第一次层-->
    <div ui-tree data-drag-enabled="false">
        <ol ui-tree-nodes="" ng-model="list">
            <li ng-repeat="node in list" ui-tree-node>

                <div ui-tree-handle class="tree-node-lev1">
                    <div class="tree-node-content row">
                        <div class="col-lg-4">
                            <a class="btn btn-default btn-xs" ng-click="toggle(this)">
                               <span class="glyphicon"
                                     ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}">
                               </span>
                            </a>
                            {{node.name}}({{node.operate_no}})
                        </div>
                        <div class="col-lg-3">
                            权限路径：{{node.url}}
                        </div>
                        <!-- 删除-->
                        <a class="pull-right btn btn-default btn-xs"
                           data-nodrag
                           ng-click="delete(this,0)">
                           <span class="glyphicon glyphicon-remove">
                            </span>
                        </a>

                        <!--修改-->
                        <a class="pull-right btn btn-default btn-xs"
                           style="margin-right: 8px;"
                           data-toggle="modal"
                           data-target=".myModal" ng-click="edit(this)" class="btn btn-warning">
                            <span
                                    class="fa fa-edit"></span>
                        </a>

                        <!--新增-->
                        <a class="pull-right btn btn-default btn-xs" data-nodrag
                           style="margin-right: 8px;"
                           data-toggle="modal"
                           data-target=".myModal"
                           ng-click="addNew(this,1)"
                                >
                            <span class="glyphicon glyphicon-plus">
                            </span>
                        </a>

                        <div class="col-lg-3">
                            权限标识：{{node.permission}}
                        </div>

                    </div>

                </div>
                <!--第二次层-->
                <ol ui-tree-nodes="" ng-model="node.items" ng-class="{hidden: !collapsed}">

                    <li ng-repeat="node in node.items" ui-tree-node>
                        <div ui-tree-handle class="tree-node-lev2">
                            <div class="tree-node-content row">
                                <div class="col-lg-4">
                                    <a class="btn btn-default btn-xs" ng-click="toggle(this)">
                                        <span class="glyphicon"
                                              ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}">
                                         </span>
                                    </a>
                                    {{node.name}}({{node.operate_no}})
                                </div>
                                <div class="col-lg-3">
                                    权限路径：{{node.url}}
                                </div>


                                <!-- 删除-->
                                <a class="pull-right btn btn-default btn-xs"
                                   data-nodrag
                                   ng-click="delete(this,1)">
                           <span class="glyphicon glyphicon-remove">
                            </span>
                                </a>

                                <!--修改-->
                                <a class="pull-right btn btn-default btn-xs"
                                   style="margin-right: 8px;"
                                   data-toggle="modal"
                                   data-target=".myModal" ng-click="edit(this)" class="btn btn-warning">
                                    <span class="fa fa-edit"></span>
                                </a>

                                <!--新增-->
                                <a class="pull-right btn btn-default btn-xs" data-nodrag
                                   style="margin-right: 8px;"
                                   data-toggle="modal"
                                   data-target=".myModal"
                                   ng-click="addNew(this,2)">
                                      <span class="glyphicon glyphicon-plus">
                                      </span>
                                </a>


                                <div class="col-lg-3">
                                    权限标识：{{node.permission}}
                                </div>

                            </div>

                        </div>

                        <!--第三次层-->
                        <ol ui-tree-nodes="" ng-model="node.items" ng-class="{hidden: !collapsed}">

                            <li ng-repeat="node in node.items" ui-tree-node>
                                <div ui-tree-handle class="tree-node-lev3">
                                    <div class="tree-node-content row">
                                        <div class="col-lg-4">
                                            <!--<a class="btn btn-success btn-xs" ng-click="toggle(this)">-->
                                            <!--<span class="glyphicon"-->
                                            <!--ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}">-->
                                            <!--</span>-->
                                            <!--</a>-->
                                            {{node.name}}({{node.operate_no}})
                                        </div>
                                        <div class="col-lg-3">
                                            权限路径：{{node.url}}
                                        </div>

                                        <!-- 删除-->
                                        <a class="pull-right btn btn-default btn-xs"
                                           data-nodrag
                                           ng-click="delete(this,2)">
                                            <span class="glyphicon glyphicon-remove">
                                              </span>
                                        </a>

                                        <!--修改-->
                                        <a class="pull-right btn btn-default btn-xs"
                                           style="margin-right: 8px;"
                                           data-toggle="modal"
                                           data-target=".myModal" ng-click="edit(this)" class="btn btn-warning">
                                            <span class="fa fa-edit"></span>
                                        </a>

                                        <div class="col-lg-4">
                                            权限标识：{{node.permission}}
                                        </div>

                                    </div>
                                </div>
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>
    </div>
</div>


<!--对话框-->
<div class="modal fade myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">编辑</h4><a class="modal-title">(注：带*的项目为必填项)</a>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" ng-show="responseCode.code=='200'">
                    <i class="fa fa-check-circle"></i>
                    {{responseCode.message}}
                </div>
                <div class="alert alert-warning" ng-show="responseCode.code!=undefined&&responseCode.code!='200'">
                    <i class="fa fa-exclamation-circle"></i>
                    {{responseCode.message}}
                </div>
                <form ng-submit="submit()" id="form">
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group col-lg-6" style="margin-top: 4px">
                                    <label>权限名称 *</label>

                                    <div class="controls">

                                        <input type="text"
                                               placeholder=""
                                               ng-model="newOperate.name"
                                               class="form-control"
                                               ng-keydown="resetWithOCancel($event)"/>

                                    </div>

                                </div>

                                <div class="form-group col-lg-6" style="margin-top: 8px">
                                    <label>权限编号 *</label>

                                    <div class="controls">

                                        <input type="text"
                                               placeholder=""
                                               ng-model="newOperate.operate_no"
                                               class="form-control"
                                               ng-keydown="resetWithOCancel($event)"/>
                                    </div>

                                </div>
                                <div class="form-group col-lg-6" style="margin-top: 8px">
                                    <label>权限标识 *</label>

                                    <div class="controls">

                                        <input type="text"
                                               placeholder=""
                                               ng-model="newOperate.permission"
                                               class="form-control"
                                               ng-keydown="resetWithOCancel($event)"/>
                                    </div>

                                </div>
                                <div class="form-group col-lg-6" style="margin-top: 8px">
                                    <label>权限路径 *</label>

                                    <div class="controls">

                                        <input type="text"
                                               placeholder=""
                                               ng-model="newOperate.url"
                                               class="form-control"
                                               ng-keydown="resetWithOCancel($event)"/>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </fieldset>

                    <div class="modal-footer">
                        <div class="controls">
                            <button type="submit" class="btn btn-success">保存</button>
                        </div>
                    </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<style>

    .tree-node-lev1 {
        border: 1px solid #dae2ea;
        background: #f3f3f3;
        color: #666666;
    }

    .tree-node-lev2 {
        border: 1px solid #dae2ea;
        background: #ffffff;
        color: #666666;
    }

    .tree-node-lev3 {
        border: 1px solid #dae2ea;
        background: #ffffff;
        color: #666666;
    }

    .tree-node {
        border: 1px solid #dae2ea;
        background: #f8faff;
        color: #7c9eb2;
    }

    .tree-node-content {
        margin: 10px;
    }

    .tree-handle {
        padding: 10px;
        background: #428bca;
        color: #FFF;
        margin-right: 10px;
    }

    .angular-ui-tree-handle:hover {
    }

    .angular-ui-tree-placeholder {
        background: #f0f9ff;
        border: 2px dashed #bed2db;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

</style>