<div class="panel-heading">
    <h3 style="font-style: normal; margin-bottom: 25px"><i class="fa fa-table" style="color: #70a43f; padding-bottom: -1px; padding-right: 15px"/>历史信息查询  /  异常信息查询</h3>
    <button ng-click="show()" class="btn btn-default " ng-class="object.id==undefined?'disabled':''"><span
            class="fa fa-picture-o"></span> 图片</button>
    <button ng-click="exportExcel()" class="btn btn-default" style="width: 100px">导出Excel</button>
</div>
<div class="panel-body">
    <div ui-grid="gridOptions" ui-grid-selection ui-grid-pagination class="grid"
         style="height: 590px"></div>
</div>
<div id="image" class="modal fade myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">图片</h4>
            </div>
            <div class="modal-body">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="{{$index}}" ng-class="{active:!$index}"
                            ng-repeat="item in images"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item" ng-class="{active:!$index}" ng-repeat="item in images" >
                            <img src={{host}}{{item.url}} alt="暂无图片" onerror="this.src='img/notfind.png'" style="al: center;min-height: 400px;min-width: 400px"/>
                            <!--<img src="img/notfind.png" alt="暂无图片" onerror="this.src='img/notfind.png'" style="al: center;min-height: 400px;min-width: 400px"/>-->
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" data-target="#carousel-example-generic" role="button"
                       data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" data-target="#carousel-example-generic" role="button"
                       data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>