<div class="panel-body">
    <div class="panel-heading">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="#/history/plan">工作流查询
                </a></li>
                <li>任务监控信息</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h4>收运车</h4>

            <div ui-grid="vehicleOptions" ui-grid-selection class="grid " style="height: 300px;"></div>
        </div>
        <div class="col-lg-8">
            <h4>任务</h4>

            <div ui-grid="taskOptions" ui-grid-selection class="grid " style="height: 300px;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h4>监控信息
                <button ng-click="backward()" class="btn btn-default btn-xs" ng-class="records==undefined?'disabled':''"><span class="fa fa-backward"/> 减速
                </button>
                <button ng-click="play()" class="btn btn-default btn-xs" ng-class="records==undefined?'disabled':''" ng-show="!isPlay"><span class="fa fa-play"/>
                    回放
                </button>
                <button ng-click="stop()" class="btn btn-default btn-xs" ng-class="records==undefined?'disabled':''" ng-show="isPlay"><span class="fa fa-pause"/>
                    暂停
                </button>
                <button ng-click="forward()" class="btn btn-default btn-xs" ng-class="records==undefined?'disabled':''"><span class="fa fa-forward"/> 加速</button>
                {{speed}}x
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="map" style="height:700px; ">
                <div style="position: absolute; right: 0px;z-index:99">
                    <div id="container" class="table-responsive"></div>
                    <div id="gas" class="table-responsive"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 12px">
        <div class="col-lg-12">
            <div class="progress square-btn-adjust">
                <span id="time" style="position: absolute;left:24px"></span>
                <div id="progress" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                     aria-valuemax="100">

                </div>
            </div>
        </div>
    </div>
</div>