<script type="text/javascript">
    function selectFile(fnUpload) {
        var filename = fnUpload.value;
        var mime = filename.toLowerCase().substr(filename.lastIndexOf("."));
        if (mime != ".apk") {
            alert("请选择apk后缀的程序安装包上传");
            fnUpload.outerHTML = fnUpload.outerHTML;
        }
    }
    function checkNum(obj) {
        //检查是否是非数字值
        if (isNaN(obj.value)) {
            obj.value = "";
        }
        if (obj != null) {
            //检查小数点后是否对于两位http://blog.csdn.net/shanzhizi
            if (obj.value.toString().split(".").length > 1 && obj.value.toString().split(".")[1].length > 2) {
                alert("小数点后多于两位！");
                obj.value = "";
            }
        }
    }
</script>
<div class="panel-heading">
    <h3 style="font-style: normal; margin-bottom: 25px"><i class="fa fa-edit"
                                                           style="color: #70a43f; padding-bottom: -1px; padding-right: 15px"/>系统设置
        / 设备应用更新设置</h3>
    <button ng-click="add()" class="btn btn-default "><span class="fa fa-plus"></span> 上传新版本</button>
</div>
<!--<div class="panel-body">-->
<!--<div ui-grid="gridOptions" ui-grid-selection ui-grid-pagination class="grid" style="height: 200px;"/>-->
<!--</div>-->
<div class="table-responsive">
    <div class="row">

        <div class="col-lg-12">
            <table class="table table-striped table-bordered table-hover ">
                <thead>
                <tr ng-repeat="item in resultList" ng-if="$index == 0">
                    <th ng-show="item.create_date != null" style="width: 150px;">更新时间</th>
                    <th ng-show="item.type != null" style="width: 68px;">设备</th>
                    <th ng-show="item.version != null" style="width: 78px;">版本号</th>
                    <th ng-show="item.detail != null" style="width: 150px;">更新描述</th>
                    <th ng-show="item.download_url != null" style="width: 200px;">下载链接</th>
                    <th ng-show="item.download_url != null" style="width: 68px;">下载应用</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in resultList">
                    <td ng-show="item.create_date != null" style="width: 150px;">{{item.create_date}}</td>
                    <td ng-show="item.type != null"><input style="width: 68px;" ng-value="item.type==1?'手持端':(item.type==2?'车载端':(item.type==3?'餐厅端':''))" readonly/></td>
                    <td ng-show="item.version != null" style="width: 78px;">{{item.version}}</td>
                    <td ng-show="item.detail != null" style="width: 150px;">{{item.detail}}</td>
                    <td ng-show="item.download_url != null" style="width: 200px;">
                        {{item.download_url}}
                    </td>
                    <td ng-show="item.download_url != null" style="width: 68px;">
                        <button ng-click="download_app(item.download_url)">下载</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="chart-body" class="col-lg-12" hidden="true">
            <div class="panel panel-default">
                <div class="panel-heading">
                    统计曲线图
                </div>
                <div class="panel-body">
                    <div id="exception-chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="edit" class="modal fade myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">新增版本更新</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" ng-show="responseCode.code == '200' && file.progress == '100'">
                    <i class="fa fa-check-circle"></i>
                    上传成功
                </div>
                <div class="alert alert-warning" ng-show="responseCode.code!=undefined&&responseCode.code!='200'">
                    <i class="fa fa-exclamation-circle"></i>
                    {{responseCode.message}}
                </div>
                <form ng-submit="uploadApp()" id="form" name="form" enctype="multipart/form-data">
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>更新应用类型</label>

                                    <div class="controls">
                                        <div class="col-lg-4">
                                            <input name="group1" type="radio" value="1" ng-model="object.type"
                                                   checked="checked"/>
                                            手持端
                                        </div>
                                        <div class="col-lg-4">
                                            <input name="group1" type="radio" value="2" ng-model="object.type"/>
                                            车载端
                                        </div>
                                        <div class="col-lg-4">
                                            <input name="group1" type="radio" value="3" ng-model="object.type"/>
                                            餐厅端
                                        </div>
                                    </div>
                                </div>
                                <br />
                            </div>
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <input type="text" ng-model="object.id" style="display: none">
                                    <label>版本号</label>

                                    <div class="controls">
                                        <input type="text" placeholder="" ng-model="object.version" onkeyup="checkNum(this)"
                                               class="form-control" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label>描述</label>

                                    <div class="controls">
                                        <input type="text" placeholder="" ng-model="object.detail"
                                               class="form-control" required/>
                                        <label>(换行请用'\n')</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label>APK文件</label>

                                    <div class="controls">
                                        <input type="file" file-model="file" placeholder="" ng-model="file"
                                               class="form-control" onchange="selectFile(this)" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="progress" ng-show="file.progress >= 0 && file.progress < 100">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                                         aria-valuenow="{{file.progress}}"
                                         aria-valuemin="0" aria-valuemax="100" style="width:{{file.progress}}%;">
                                        {{file.progress}}%
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="controls">
                                <button id="btn_upload" type="submit" class="btn btn-success">保存</button>
                                <button id="btn_reset" type="reset" class="btn btn-info">重置</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>