<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html" lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>南海绿电收运管理系统</title>
    <!-- BOOTSTRAP STYLES-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <!-- FONTAWESOME STYLES-->
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css"/>
    <!-- CUSTOM STYLES-->
    <link rel="stylesheet" type="text/css" href="css/custom.css"/>
    <link rel="stylesheet" type="text/css" href="js/lib/gritter/css/jquery.gritter.css"/>
    <link rel="stylesheet" type="text/css" href="css/leaflet.css">
    <link rel="stylesheet" type="text/css" href="js/lib/bootstrap/bootstrap-datetimepicker.min.css"/>
    <!-- SELECT2  -->
    <link rel="stylesheet" type="text/css" href="js/lib/select2/select2.css"/>
    <!-- NG_GRID -->
    <link rel="stylesheet" type="text/css" href="js/lib/nggrid/ui-grid-unstable.min.css"/>
    <!-- UI-Tree-->
    <link rel="stylesheet" type="text/css" href="js/lib/uiTree/angular-ui-tree.min.css"/>
    <!-- FULLCALENCAR -->
    <link rel="stylesheet" type="text/css" href="js/lib/fullCalendar/fullcalendar.css"/>
    <!-- DATE_RANGE_PICKER -->
    <link rel="stylesheet" type="text/css" media="all" href="js/lib/daterangepicker/daterangepicker-bs3.css"/>
    <!-- MESSENGER -->
    <link rel="stylesheet" type="text/css" media="all" href="js/lib/messenger/messenger.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="js/lib/messenger/messenger-theme-air.css"/>
    <!-- SWEET_ALERT-->
    <!--<link rel="stylesheet" type="text/css" href="js/lib/sweetalert/sweet-alert.css">-->
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="images/logo_100.png" width="100"
                                                           style="margin-left:24px; margin-top: 8px;"/></a>
        </div>
        <div class="pull-right" style="padding:14px;color: #ffffff">
            <a href="logout" style="color:#fff"> 退出登录 <i class="fa fa-sign-out"></i> </a>
        </div>
    </nav>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a class="active-menu" href="#/"><i class="fa fa-desktop"></i> 实时监控</a>
                </li>
                <li>
                    <a href="#/task"><i class="fa fa-dashboard"></i> 任务管理</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-edit"></i> 基础信息管理<span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#/basic/user">人员管理</a>
                        </li>
                        <li>
                            <a href="#/basic/role">角色管理</a>
                        </li>
                        <li>
                            <a href="#/basic/operatesTree">权限管理</a>

                        <li>
                            <a href="#/basic/vehicle">车辆管理</a>
                        </li>
                        <li>
                            <a href="#/basic/customer">收集对象管理</a>
                        </li>
                        <li>
                            <a href="#/basic/exceptionType">异常类型管理</a>
                        </li>
                        <li>
                            <a href="#/basic/refuelCard">加油卡管理</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-ticket"></i> RFID管理<span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="##/basic/user_rfid">人员信息</a>
                        </li>
                        <!--<li>
                            <a href="#/report/oilwear">车辆油耗统计</a>
                        </li>-->
                        <li>
                            <a href="##/basic/garbage_rfid">垃圾桶信息</a>
                        </li>
                        <li>
                            <a href="##/basic/vehicle_rfid">车辆信息</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-table"></i> 历史信息查询<span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#/history/exceptionRecord">异常信息查询</a>
                        </li>
                        <li>
                            <a href="#/history/alertException">警报信息查询</a>
                        </li>
                        <!--<li>-->
                        <!--<a href="#/history/monitoringMap">监控信息查询</a>-->
                        <!--</li>-->
                        <li>
                            <a href="#/history/plan">工作流查询</a>
                        </li>
                        <li>
                            <a href="#/history/recycleHistory">垃圾收集情况查询</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o"></i> 报表统计<span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <!--<li>-->
                        <!--<a href="#/report/forecast">垃圾量预测</a>-->
                        <!--</li>-->
                        <li>
                            <a href="#/report/garbage">垃圾量统计</a>
                        </li>
                        <!--<li>
                            <a href="#/report/oilwear">车辆油耗统计</a>
                        </li>-->
                        <li>
                            <a href="#/report/refuel">车辆加油统计</a>
                        </li>
                        <li>
                            <a href="#/report/recharge">车辆充值统计</a>
                        </li>
                        <li>
                            <a href="#/report/exception">车辆异常统计</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-cog"></i> 系统设置<span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#/setting/app_update">应用更新</a>
                        </li>
                        <!--<li>-->
                        <!--<a href="#/setting/timer">定时器设置</a>-->
                        <!--</li>-->
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="notification-side">
        <div class="panel-body">
            <div class="panel-heading" style="border-bottom:1px dotted #e6e7e9">
                <div class="row">
                    <!--<div class="col-sm-4 col-md-4 col-lg-4"><a href="#home" data-toggle="tab" target="_self"-->
                    <!--style="color:#555555"><i-->
                    <!--class="fa fa-envelope"></i></a></div>-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <a href="#profile" data-toggle="tab"
                           target="_self" style="color:#555555;display: block;"><i class="fa fa-warning"></i> 警报</a>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6"><a href="#messages" data-toggle="tab"
                                                               target="_self" style="color:#555555;display: block;"><i
                            class="fa fa-bell"></i> 异常
                    </a></div>
                </div>
            </div>
            <div ng-controller="NotificationCtrl">
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="profile">
                        <ul class="chat-box">
                            <li class="right clearfix" ng-repeat="item in alertList">
                                <div class="chat-body clearfix">
                                    <h5><i class="fa fa-truck fa-fw"></i><span ng-bind="item.plate_number"></span>
                                        <small class=" text-muted pull-right">
                                            <i class="fa fa-clock-o fa-fw"></i><span ng-bind="item.showtime"></span>
                                        </small>
                                    </h5>
                                    <span class="text-muted" ng-bind="item.name"></span>
                                    <!--<span class="chat-img pull-right">-->
                                    <!--<button href="#settings-pills" class="btn btn-danger btn-xs"-->
                                    <!--data-toggle="tab"-->
                                    <!--target="_self">-->
                                    <!--未处理-->
                                    <!--</button>-->
                                    <!--</span>-->
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="messages">
                        <ul class="chat-box">
                            <li class="right clearfix" ng-repeat="item in exceptionList">
                                <div class="chat-body clearfix">
                                    <h5><i class="fa fa-truck fa-fw"></i><span ng-bind="item.plate_number"></span>
                                        <small class=" text-muted pull-right">
                                            <i class="fa fa-clock-o fa-fw"></i><span ng-bind="item.showtime"></span>
                                        </small>
                                    </h5>
                                    <span class="text-muted" ng-bind="item.name"> </span>
                                    <!--<span class="chat-img pull-right">-->
                                    <!--<button href="#settings-pills" class="btn btn-warning btn-xs"-->
                                    <!--data-toggle="tab"-->
                                    <!--target="_self">-->
                                    <!--未处理-->
                                    <!--</button>-->
                                    <!--</span>-->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="page-wrapper" ng-view>

    </div>
    <!-- JQUERY SCRIPTS -->
    <script type="text/javascript" src="js/lib/jquery/jquery-2.1.1.min.js"></script>

    <!-- SWEET_ALERT-->
    <!--<script type="text/javascript" src="js/lib/sweetalert/sweet-alert.min.js"></script>-->

    <!--OSM_MAP-->
    <script type="text/javascript" src="js/lib/osm_map/leaflet-src.js"></script>
    <script type="text/javascript" src="js/lib/osm_map/ghrequest.js"></script>
    <script type="text/javascript" src="js/lib/osm_map/main.js"></script>

    <!--MQTT SCRIPTS-->
    <script type="text/javascript" src='js/lib/mqtt/adapter.js'></script>
    <script type="text/javascript" src='js/lib/mqtt/mqttws31.js'></script>
    <script type="text/javascript" src='js/lib/mqtt/mqttClient.js'></script>
    <script type="text/javascript" src="js/lib/mqtt/web_rtc.js"></script>

    <!-- BOOTSTRAP SCRIPTS -->
    <script type="text/javascript" src="js/lib/bootstrap/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script type="text/javascript" src="js/lib/metisMenu/jquery.metisMenu.js"></script>

    <!-- DATETIMEPICKER SCRIPTS -->
    <script type="text/javascript" src="js/lib/bootstrap/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="js/lib/bootstrap/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <!-- SELECT2 SCRIPTS -->
    <script type="text/javascript" src="js/lib/select2/select2.js"></script>
    <script type="text/javascript" src="js/lib/select2/select2_locale_zh-CN.js"></script>
    <!-- HIGHCHARTS SCRIPTS -->
    <script type="text/javascript" src="js/lib/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="js/lib/highcharts/exporting.js"></script>
    <script type="text/javascript" src="js/lib/highcharts/no-data-to-display.src.js"></script>

    <script type="text/javascript" src="js/lib/daterangepicker/moment.js"></script>

    <!-- FULLCALENCAR -->
    <script type="text/javascript" src="js/lib/fullCalendar/fullcalendar.min.js"></script>
    <script type="text/javascript" src="js/lib/fullCalendar/lang-all.js"></script>
    <script type="text/javascript" src='js/lib/jquery/jquery-ui.custom.min.js'></script>

    <script data-main="js/scripts/main.js" src="js/lib/requirejs/require.js"></script>
    <script type="text/javascript" src="js/lib/clipboard/ZeroClipboard.js"></script>

    <!-- DATERANGEPICKER -->
    <script type="text/javascript" src="js/lib/daterangepicker/daterangepicker.js"></script>

    <!-- MESSENGER -->
    <script type="text/javascript" src="js/lib/messenger/messenger.min.js"></script>


    <script type="text/javascript">
        $('#main-menu').metisMenu();
        $('#main-menu>li>a').click(function () {
            $('#main-menu>li>a').removeClass("active-menu");
            $(this).addClass("active-menu");
        });

        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
            theme: 'air'
        }
    </script>
    <!-- DATE_RANGE_PICKER -->

</div>
<div class="modal fade" id="webrtcDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">视频监控</h4>
            </div>
            <div class="modal-body">
                <video id="video" autoplay style="background: #000000; width: 100%" controls="controls"></video>
            </div>
        </div>
    </div>
</div>
<script>
    $('#webrtcDialog').on('hide.bs.modal', function () {
        onClose();
    })
</script>
</body>
</html>
